c* {box-sizing: border-box}

h1{
        width: 100%;
        padding-bottom: 0px;
        color: rgb(08, 08, 08);
        font-family: sans-serif, Helvetica;
        text-align: left;
        margin-left: 0px;
}

.logo{
        width: 100%;
        padding-bottom: 0px;
        color: rgb(08, 08, 08);
        font-family: sans-serif, Helvetica;
        text-align: left;
        margin-left: 0px;
}

.nav {
        position: fixed;
        align-items: center;
        width: 100%;
        display: flex;
        background-color: rgb(255, 255, 255);
        justify-content: left;
}

.btn {
        width: 100%;
        position: fixed;
        color: rgb(08, 08, 08);
        background-color: rgb(255, 255, 255);
        height: 40px;
        width: 90px;
        padding: 0 20px;
        border: none;
        text-decoration: none;
        display: inline-block;
        margin: 0 20px;
        text-align: left;
}

.text-alignment {
        text-align: left;
}

.tab button:hover {
        position: fixed;
        background-color: rgb(255, 255, 255);
}

.tab button.active {
        position: fixed;
        background-color: rgb(255, 255, 255);
}

.tabcontent {
        position: fixed;
        float: center;
        padding: 0px 0px;
        border: none;
        width: 70%;
        border-left: 1px solid rgb(255, 255, 255);
        height: 300px;
        display: none;
        border-top: none;
}        

.section {
        width: 97%;
        height: 97vh;
        /* Full viewport height */
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        /* Align text to the top */
        text-align: center;
        padding-top: 0px;
        /* Adds space to avoid being hidden behind fixed nav */
        margin-left: 0px;
}

.one {
        padding-top: 20px;
        background-color: rgb(255, 255, 255);
}
.two {
            background-color: rgb(255, 255, 255);
}
.two_ {
            background-color: rgb(255, 255, 255);
}
.two_1 {
            background-color: rgb(255, 255, 255);
}
.void0 {
            background-color: rgb(255, 255, 255);
}
.three {
            background-color: rgb(255, 255, 255);
}
.three_ {
            background-color: rgb(255, 255, 255);
}
.three_1 {
            background-color: rgb(255, 255, 255);
}
.three_1_ {
            background-color: rgb(255, 255, 255);
}
.three_2 {
            background-color: rgb(255, 255, 255);
}
.five_ {
            background-color: rgb(255, 255, 255);
}
.four {
            background-color: rgb(255, 255, 255);
}
.void {
            background-color: rgb(255, 255, 255);
}
.five {
            background-color: rgb(255, 255, 255);
}
.six {
            background-color: rgb(255, 255, 255);
}
.six_ {
            background-color: rgb(255, 255, 255);
}
.seven {
            background-color: rgb(255, 255, 255);
}
.eight {
            background-color: rgb(255, 255, 255);
}
.nine {
            background-color: rgb(255, 255, 255);
}
.ten {
            background-color: rgb(255, 255, 255);
}
.void_2{
            background-color: rgb(255, 255, 255);
}
