c* {box-sizing: border-box}

.tab {
        float: center;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 30%;
        height: 300px;
        overflow: hidden;
}

.text-alignment {
        text-align: left;
}

.tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        float: center;
        cursor: pointer;
}

.tab button:hover {
        background-color: #ddd;
}

.tab button.active {
        background-color: #ccc;
}

.tabcontent {
        float: right;
        padding: 0px 12px;
        border: none;
        width: 70%;
        border-left: 1px solid #ccc;
        height: 300px;
        display: none;
        border-top: none;
}        

.header {
    position:absolute;
    left:0;
    right:0;
    top:0; 
    margin:0;
            color: rgb(25, 25, 25);
    font-family: sans-serif, Helvetica;
    text-align: left;
}


.one{
    background-image: url('illit_fix.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    background-size: contain;
    mask-image: linear-gradient(to bottom, black 0, transparent 100%);
}

.container{
    width: 70%;
    height: 70%;
}
