c* {box-sizing: border-box}

.tab {
        float: center;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
        width: 30%;
        height: 300px;
        overflow: hidden;
}

.text-alignment {
        text-align: left;
}

.tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: center;
        cursor: pointer;
        transition: 0.3s;
        float: center;
        cursor: pointer;
}

.tab button:hover {
        background-color: #ddd;
}

.tab button.active {
        background-color: #ccc;
}

.tabcontent {
        float: right;
        padding: 0px 12px;
        border: none;
        width: 70%;
        border-left: 1px solid #ccc;
        height: 300px;
        display: none;
        border-top: none;
}        

#site-header {
    position: fixed;
    top: 0;
    width: 100%; /* Ensures the header spans the full width */
    background-color: #fff; /* Add a background color so content doesn't show through */
    z-index: 1000; /* Ensures the header is above other content */
    /* Define height for the content padding calculation, e.g., 100px */
    height: 100px;
}

#container {
    /* Add padding to the top of the main content equal to the header's height */
    padding-top: 100px; 
}

#nav {
    padding: 10px;
    background-color: #eee;
}

.one{
    background-image: url('illit_fix.jpg');
    background-repeat: no-repeat;
    background-position: center; 
    position: relative;
    background-size: contain;
    mask-image: linear-gradient(to bottom, black 0, transparent 100%);
}
