* {box-sizing: border-box}

.tab {
        float: right;
        border: none;
        background-color: rgb(250, 250, 250);
        width: 30%;
        height: 300px;
}

.tab button {
        display: block;
        background-color: inherit;
        color: black;
        padding: 22px 16px;
        width: 100%;
        border: none;
        outline: none;
        text-align: right;
        cursor: pointer;
        transition: 0.3s;
}

.tab button:hover {
        background-color: #ccc;
}

.tabcontent {
        float: right;
        padding: 0px 12px;
        border: none;
        width: 70%;
        border-left: none;
        height: 300px;
}

h2{
    color: rgb(25, 25, 25);
    background-color: rgb(250, 250, 250);
    font-family: sans-serif, Helvetica;
    text-align: left;
}
        h3{
    color: rgb(25, 25, 25);
    background-color: rgb(250, 250, 250);
    font-family: sans-serif, Helvetica;
    text-align: left;
    }
        #container{
    width: auto;
    font-family: sans-serif, Helvetica;
    background-color: rgb(250, 250, 250);
    text-align: left;
    }
